/*Garante que todos os elementos estão sem margens*/
* {
	margin: 0px;
	padding: 0px;
}

th{
	text-align:left;
	padding: 15px;
	border: 0px solid #000000;
	border-collapse: collapse;
}

body.pag_principal{
	background-image: url("../Fotos/fundo_pag_principal.png");

	height:100vh;

	/*Centrar e escalar a imagem corretamente */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* --------------- CONTAINER ---------------------*/

.containerPagPrincipal{
	display: grid;
	width: 100%;
	grid-template-rows: 48em 96em 65em 45em 22em;
	background-color: white;
	border-color: black;
}

.cover{
	grid-row-start: 1;
	grid-row-end: 2;
	background-image: url("../Fotos/fundo_pag_principal.png");

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
}

.aboutUs{
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: white;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-rows: 10em 6em 30em 10em 1fr;
}

.Regions{
	grid-row-start: 3;
	grid-row-end: 4;
	background-color: #F2F2F2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.founders{
	grid-row-start: 4;
	grid-row-end: 5;
	background-color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	grid-template-rows: 10em 1fr;
}

.downloads{
	grid-row-start: 5;
	grid-row-end: 6;
	background-color: #F2F2F2;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.ContainerSignIn{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 46.7em;
	grid-template-columns: 53em 1fr;

	background-image: url("../Fotos/signIn.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.login{
	grid-column-start: 1;
	grid-column-end: 2;
	background-color: transparent;
	display: grid;
	grid-template-rows: 1fr 1fr;
}

.loginTitle{
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: red;
	margin-top: 12em;
	margin-left: 6em;
	margin-right: 1em;
	margin-bottom: 7.5em;
	background-color: #DAE3F3;
	opacity: 0.64;
}

.loginForm{
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: white;
	opacity: 0.8;
	margin-right: 8em;
	margin-left: 12em;
	margin-bottom: 4em;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.register{
	grid-column-start: 2;
	grid-column-end: 3;
	background-color: transparent;
}

.registerForm{
	background-color: white;
	opacity: 0.8;
	height: 30.7em;
	margin-top: 12em;
	margin-left: 7em;
	margin-right: 4.5em;
	display: grid;
	grid-template-rows: 7em 1fr;
}

.MyTours{
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 46.7em;

	background-image: url("../Fotos/pag_utilizador.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.MaintenenceLayoutInsert{
	display: grid;
	grid-template-rows: 1fr 40em 33em 30em;
}



.MaintenenceBody{
	display: grid;
	width: 100%;
	grid-template-rows: 3em 1fr;
	background-color: white;
}

.MaintenenceTitle{
	grid-row-start: 0;
	grid-row-end: 1;
	background-color: #DEEBF7;
	margin-top: 3.5em;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
	font-size: 2.5em;
}

.MaintenenceContent{
	grid-row-start: 1;
	grid-row-end: 2;
	display: grid;
	grid-template-columns: 28em 1fr;
}

.MaintenenceImage{
	grid-column-start: 1;
	grid-column-end: 2;
	margin: auto auto;
	padding-top: 5em;
}

.MaintenenceForm{
	grid-column-start: 2;
	grid-column-end: 3;
	display: grid;
	grid-template-rows: 10em 1fr;
}

.MaintenenceFormTitle{
	grid-row-start: 1;
	grid-row-end: 2;
	margin-top: 2.5em;
	border-top: 3px solid #DEEBF7;
	border-bottom: 3px solid #DEEBF7;
	text-align: center;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
	font-size: 2em;
	line-height: 2em;
}

.MaintenenceFormContent{
	grid-row-start: 2;
	grid-row-end: 3;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
	font-size: 1.5em;
	line-height: 2em;
	display: grid;
	grid-template-columns: 6.75em 1fr;
}

.MaintenanceNameAlts{
	grid-column-start: 1;
	grid-column-end: 2;
}
.MaintenanceOptionAlts{
	grid-column-start: 2;
	grid-column-end: 3;
}

/********************MAINTENENCE - INSERT************************************************
******************************************************************************/


/********************MAINTENENCE - UPDATE************************************************
******************************************************************************/
.MaintenenceUpdateFormContent{
	grid-row-start: 2;
	grid-row-end: 3;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
	font-size: 1.5em;
	line-height: 2em;
	grid-template-rows: 5em 1fr;
}

.MaintenenceHotelSearch{
	grid-row-start: 1;
	grid-row-end: 2;
}

.MaintenenceHotelAlterations{
	grid-row-start: 2;
	grid-row-end: 3;
	display: grid;
	grid-template-columns: 6.75em 1fr;
}



/* --------------- MENU ------------------------*/

div.menu{
	position: fixed;
	border: 0em solid black;
	width: 100%;
	height: 2.5em;
	background-image: url("../Fotos/fundo_menu.png");
	opacity: 0.9;
	font-size: 2.3em;
	color: white;
	font-family: 'Eras ITC', 'Eras Light ITC',  sans-serif ;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	z-index: 1001;
}

div.text_menu{
	text-align: center;
	font-size: 0.85em;
	padding-top: 0.8em;
	font-family: Gabriola;
}

/*LINKS------------------------------------------------------------------------*/

a.InitialPage:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
	padding-left: 7px;
	padding-right: 7px;
}

a.InitialPage:visited {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a.InitialPage:hover, a.InitialPage:active {
	color: #ffd966;
	background-color: transparent;
	text-decoration: underline;
	padding: 5px;
	border: 2px solid #FFD966;
	border-radius: 10px;
	font-size: 1em;
}

a.Generic:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
	padding-left: 7px;
	padding-right: 7px;
}

a.Generic:visited {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

a.Generic:hover, a.Generic:active {
	color: #ffd966;
	background-color: transparent;
	text-decoration: underline;
	padding: 5px;
	border: 2px solid #FFD966;
	border-radius: 10px;
	font-size: 1em;
}

a.simple:link, a.simple:visited, a.simple:hover, a.simple:active{
	color: white;
	background-color: transparent;
	text-decoration: none;
	border: 0em solid #FFD966;
	padding: 0em;
}

a.SignIn:link, a.SignIn:visited {
	color: white;
	background-color: transparent;
	text-decoration: none;
	padding: 5px;
	border: 2px solid white;
	font-size: 1em;
}

a.SignIn:hover, a.SignIn:active{
	color: #ffd966;
	background-color: transparent;
	text-decoration: underline;
	padding: 5px;
	border: 2px solid #FFD966;
	font-size: 1em;
}


/* ------------- BOTOES -----------------------*/

.SignIn {
	text-align: center;
	font-size: 0.8em;
	padding-top: 0em;
	font-family: Gabriola;
	margin-top:1.1em;
	height:1.7em;
	width:3em;
	border: 2px solid white;
	border-radius: 10px;
	padding-top: 0em;
}

/* ------------- PAG_PRINCIPAL - COVER -----------------------*/

.TextCover{
	display: inline-block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0em;
	margin: auto;
	margin-top:4.5em;
	margin-bottom: 0em;/*31em*/
	text-align: center;
	font-size: 3.8em;
	color: white;
	font-family: "Calibri", serif;
	background-color: hsla(120, 0%, 0%, 0.20);
}

/* ------------- PAG_PRINCIPAL - ABOUT_US -----------------------*/

.TitleAboutUs{
	margin: auto auto;
	margin-bottom: 0.3em;
	padding: 0.3em;
	padding-left: 4em;
	padding-right: 4em;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
	border-top:2px solid #CEECF5;
	border-bottom: 2px solid #CEECF5;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: 2.4em;
}

.TextAboutUs{
	margin: 0 auto;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
	font-size: 1.4em;
	text-align: center;
	grid-row-start: 2;
	grid-row-end: 3;
	background-color: white;
}

.columnsAboutUs{
	display: flex;
	flex-direction: flex;
	justify-content: center;
}

.texPaboutUs{
	font-size:1.4em;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
	padding-top: 2em;
	text-align: center;
}

.centerImgAboutUs{
	background-image: url("../Fotos/vw1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: 1em;
	margin-right: 1em;
	background-color:gray;
	width:20em;
	height:25em;"
}

.textPurplediv{
	font-size: 50px;
	color: white;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
	font-weight: lighter;
}

/* ------------- PAG_PRINCIPAL - REGIONS -----------------------*/

.bloksRegions{
	background-color:white;
	margin-top:3em;
	margin-left: 1em;
	margin-right: 1em;
	width:25em;
	height:25em;"
}

.subtitleCinzaEscuro{
	color: #848484;
	padding-top:0.8em;
	font-size: 2.5em;
	font-family: "Monotype Corsiva";
	font-weight: lighter;
	text-align: center;
}

/* ------------- PAG_PRINCIPAL - FOUNDERS -----------------------*/

.titleFounders{
	grid-row-start: 1;
	grid-row-end: 2;
	margin-top: 1.5em;
	text-align: center;
	font-size: 3.1em;
	color: black;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
}

.picturesFounders{
	grid-row-start: 2;
	grid-row-end: 3;
	margin-top: 1.5em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.divPicture{
	margin-left: 2.5em;
	margin-right: 2.5em;
	text-align: center;
	max-width: 27em;
}

.TextFounders{
	padding-top: 0.5em;
	font-size: 1.5em;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
}

/* ------------- PAG_PRINCIPAL - DOWNLOADS -----------------------*/

.logoDownloads{
	margin-top: 3em;
	grid-row-start: 1;
	grid-row-end: 2;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.oneLogo{
	margin-left: 5em;
	margin-right: 5em;
}

.infoLogin{
	margin-top:1em;
	grid-row-start: 2;
	grid-row-end: 3;
	text-align: center;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
}

/* ------------- PAG_SIGNIN -----------------------*/

p.SignInTitle{
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
	font-size: 2.4em;
	text-align: center;
	color: black;
	padding: 0.2em;
}

.SignInFormTitle{
	grid-row-start: 1;
	grid-row-end: 2;
	font-family: "Eras ITC", "Eras Light ITC", sans-serif;
	font-size: 2em;
	text-align: center;
	padding-top: 1em;
}

.FormLogin{
	grid-row-start: 2;
	grid-row-end: 4;
	text-align: center;
}

.inputSignIn{
	width:20em;
	height:2.5em;
	border: 0px;
	background-color: #D6DCE5;
	text-align: center;
	color: #2E75B6;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	font-size: 1.2em;
	border-radius: 0.5em;
}

.FormRegister{
	grid-row-start: 2;
	grid-row-end: 3;
	text-align: center;
}

.UserCheckInfo{
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
	color: #ff3333;
	font-size: 1em;
}

/* ------------- PAGINA - MyTOURS -----------------------*/
.bodyMytours{
	margin: auto auto;
	margin-top: 5.7em;
	grid-row-start: 1;
	grid-row-end: 2;
	background-color: transparent;
	display: grid;
	grid-template-rows: 8em 1fr;
}

.titleMyTours{
	grid-row-start: 1;
	grid-row-end: 2;
	width: 9em;
	margin: 0em auto;
	height: 1.5em;
	background-color: white;
	opacity: 0.9;
	font-size: 2.5em;
	color: #2F5599;
	font-family: "Eras ITC", "Eras Light ITC";
	text-align: center;
	padding-top:0.5em;
}

.reservations{
	grid-row-start: 2;
	grid-row-end: 3;
	width:25em;
	max-height: 12em;
	opacity: 0.9;
	font-size: 2.5em;
	font-family: "Eras ITC", "Eras Light ITC";
	text-align: center;
	overflow-y: scroll
}

.singleReservation{
	display: grid;
	grid-template-columns: 8em 1fr 4em;
	background-color: white;
	margin-top: 0.5em;
}

.RerservationImageTitle{
	grid-column-start: 1;
	grid-column-end: 2;
	padding: 0.5em;
	font-size: 0.7em;
	background-color: transparent;
}

.ReservationContent{
	grid-column-start: 2;
	grid-column-end: 3;
	padding: 0.5em;
	font-size: 0.5em;
	text-align: left;
	line-height: 1.9em;
	color: black;
	background-color: transparent;
}

.ReservationDelete{
	grid-column-start: 3;
	grid-column-end: 4;
	padding: 0.5em;
	font-size: 0.7em;
  margin: auto auto;
	background-color: transparent;
}


/*---------------ERROR_MESSAGES----------------------------*/

#messages {
	width: 20em;
	width: 20em;
	position: absolute;
	padding-top: 5em;
	left: 37.5em;
	text-align: center;
	font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
}

#messages div{
	padding: 1em;
	margin-top: 1em;
	border-radius: 1em;
}

#messages .error{
	background-color: #F99;
	color: #333;
}

#messages .success{
	background-color: #9F9;
  color: #333;
}

#messages .close{
	float: right;
  text-decoration: none;
  color: #333;
	font-size: 1.2em;
}

#messages .close:hover{
	float: right;
  text-decoration: none;
  color: red;
	border: 1px solid red;
	border-radius: 0.5em;
	font-size: 1.2em;
}


/*********************************************************************************************************************************************************************************************************
**********************************************************************************************************************************************************************************************************/
/*SLIDESHOW E BOTÕES*/

div.Slideshow{
	padding-top: 5em;
	border: 0px;
	width: 100%;
	height: 550px;
}

.mySlides{
	border: 0px;
	width: 900px;
	height: 450px;
	opacity: 0.8;
}

.buttonLeft{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	position:absolute;
	top: 147em;
	left: 23.2em;
	transform:translate(0%,-50%);
	-ms-transform:translate(-0%,-50%);
	color:#fff!important;
	background-color:#000!important;
}

.buttonRight{
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
	position:absolute;
	top: 147em;
	right: 23.2em;
	transform:translate(0%,-50%);
	-ms-transform:translate(-0%,-50%);
	color:#fff!important;
	background-color:#000!important;
}

.button{
	width:100px;
	height: 40px;
	font-family: 'Eras ITC', 'Eras Light ITC',  sans-serif ;
	font-size: 20px;
}

/*********************************************************************************************************************************************************************************************************
**********************************************************************************************************************************************************************************************************/
/*Dropdown Maintenance*/


.dropbtn {
	background-color: transparent;
	color: white;
	font-size: 0.85em;
	font-family: Gabriola;
	border: none;
	cursor: pointer;
	padding: 0px;
	padding-left: 0.4em;
	padding-right: 0.4em;
	border: 2px solid white;
	border-radius: 0.5em;
	line-height:1.2em;
}

.dropdown {
	position: relative;
	display: inline-block;
	padding-top: 0.6em;
	border-radius: 0.5em;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-image: url("../Fotos/fundo_menu.png");
	font-size: 0.5em;
	min-width: 7em;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
	border-radius: 0.5em;
}

.dropdown-content a {
	color: white;
	text-decoration: none;
	display: block;
	border-radius: 0.5em;
	padding-top:0.2em;
	padding-bottom: 0.2em;
}

.dropdown-content a:hover {
	background-color: transparent;
	color: white;
	border: 2px solid #FFD966;
	border-radius: 0.5em;
}

.dropdown:hover .dropdown-content {
	display: block;
	border-radius: 0.5em;
}

.dropdown:hover .dropbtn {
	color: #ffd966;
	background-color: transparent;
	text-decoration: underline;
	padding: 0px;
	padding-left: 0.4em;
	padding-right: 0.4em;
	border: 2px solid #FFD966;
	border-radius: 0.5em;
}

/*******************************************************************************
********************************************************************************/

.textcar {
    height: 2em;
    width: 30em;
}

.confirmButton {
	  margin-left: 35em;
    width: 150px;
    height: 40px;
    font-family: 'Eras ITC', 'Eras Light ITC', sans-serif;
    font-size: 20px;
		background-color: #9F9;
}

.DeleteButton {
	  margin-left: 35em;
    width: 150px;
    height: 40px;
    font-family: 'Eras ITC', 'Eras Light ITC', sans-serif;
    font-size: 20px;
		background-color: #F99;
}

/*********************************************************************************************************************************************************************************************************
**********************************************************************************************************************************************************************************************************/
.dropbtn2 {
	background-color: white;
	color: black;
	font-size: 1em;
	font-family: Gabriola;
	border: none;
	cursor: pointer;
	padding: 0px;
	padding-left: 0em;
	padding-right: 0em;
	border-radius: 0.5em;
	line-height:0em;
}

.dropdown2 {
	position: relative;
	display: inline-block;
	padding-top: 0em;
	border-radius: 0.5em;
}

.dropdown-content2 {
	display: none;
	position: absolute;
	background-color: #DEEBF7;
	font-size: 1em;
	min-width: 24em;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	text-align: center;
	border-radius: 0.5em;
}

.dropdown-content2 a {
	color: white;
	text-decoration: none;
	display: block;
	border-radius: 0.5em;
	padding-top:0.2em;
	padding-bottom: 0.2em;
}

.dropdown-content2 a:hover {
	background-color: transparent;
	color: white;
	border: 2px solid #FFD966;
	border-radius: 0.5em;
}

.dropdown2:hover .dropdown-content2 {
	display: block;
	border-radius: 0.5em;
}

.dropdown2:hover .dropbtn2 {
	color: grey;
	background-color: transparent;
	text-decoration: underline;
	padding: 0px;
	padding-left: 0em;
	padding-right: 0em;
	border: 2px solid #FFD966;
	border-radius: 0.5em;
}

.buttonSearch {
	background-color: #CECEF6;
	color: white;
	padding: 0.5em;
	font-size: 1.1em;
	border: none;
	width:10em;
	height: 2.2em;
	font-family: 'Eras ITC', 'Eras Light ITC',  sans-serif ;
	border-radius: 0.5em;
	cursor: pointer;
	transition: all 0.5s;
	display: inline-block;
	margin-left:9em;
	margin-top:2.5em;
}
